---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header/Header.astro';
import Banner from '../components/Banner.astro';
import Services from '../components/Services.astro';
import About from '../components/About.astro';
import Contact from '../components/Contact.astro';
import DoDate from '../components/DoDate.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Dentista Angel">
	<div class="w-full mx-auto relative ">

		<Header />

		<main class="-mt-16 overflow-hidden">
			
			<Banner />

			<Services />

			<About />

			<Contact />

			<DoDate />

		</main>
		<Footer />
	</div>
	
</Layout>


