
---

---

<section id="contacto" data-index="4" class="w-full max-w-screen-container h-full mx-auto pt-16">
    <div class="py-11">
        <h2 class="text-5xl font-bold text-dark-text">CONTACTO</h2>
    </div>
    <div class="flex flex-col gap-[10px]">
        <div class="w-full p-5 rounded-2xl bg-blue-light">
            <h3 class="text-4xl font-bold text-dark-text mb-5">Horario</h3>
            <div class="w-full flex justify-stretch items-center gap-2">
                <div class="flex flex-col gap-1 flex-grow">
                    <strong class="text-xl text-dark-text">Lunes – Viernes:</strong>
                    <span class="text-xl">9:00am – 1:00pm y 3:00pm - 6:00pm</span>
                </div>
                <div class="flex flex-col gap-1 flex-grow">
                    <strong class="text-xl text-dark-text">Sábado:</strong>
                    <span class="text-xl">9:00am – 1:00pm</span>
                </div>
                <div class="flex flex-col gap-1 flex-grow">
                    <strong class="text-xl text-dark-text">Domingo:</strong>
                    <span class="text-xl">CERRADO</span>
                </div>
            </div>
        </div>

        <div class="w-full h-[480px] rounded-2xl overflow-hidden relative">
            <img class="w-full h-full object-cover " src="/assets/img/map-fake.png" alt="map fake">

            <div class="absolute top-0 left-0 p-5">
                <div class="bg-white rounded-lg w-fit px-3 py-2 shadow">
                    <span class="text-3xl text-dark-text font-bold">Direcciones</span>
                </div>
            </div>
            <div class="absolute top-0 right-0 p-5">
                <div class="flex flex-col bg-white rounded-lg max-w-56 px-3 py-2 shadow">
                    <span class="text-3xl text-dark-text font-bold">Direccion 1</span>
                    <span>
                        Jesús Salido y Tamaulipas #2111
                        Col. Juárez, 85870
                        Navojoa, Son.
                    </span>
                    <span></span>
                    <span>
                        cel:
                        441234123123
                    </span>
                </div>
            </div>
        </div>
    </div>

    
</section>