
---
import MapGoogle from "./map/MapGoogle.astro";


---

<section id="contacto" data-index="4" class="w-full max-w-screen-container h-full mx-auto pt-16 px-4">
    <div class="pb-8 sm:pb-11">
        <h2 class="text-3xl sm:text-4xl md:text-5xl font-bold text-dark-text">CONTACTO</h2>
    </div>
    <div class="flex flex-col gap-[10px]">
        <div class="w-full p-5 rounded-2xl bg-blue-light">
            <h3 class="text-2xl md:text-4xl font-bold text-dark-text mb-5">Horario</h3>
            <div class="w-full flex justify-stretch flex-wrap items-center gap-2">
                <div class="flex flex-col gap-1 flex-grow">
                    <strong class="text-xl text-dark-text">Lunes – Viernes:</strong>
                    <span class="text-base md:text-xl font-montserrat">9:00am – 1:00pm y 3:00pm - 6:00pm</span>
                </div>
                <div class="flex flex-col gap-1 flex-grow">
                    <strong class="text-xl text-dark-text">Sábado:</strong>
                    <span class="text-base md:text-xl font-montserrat">9:00am – 1:00pm</span>
                </div>
                <div class="flex flex-col gap-1 flex-grow">
                    <strong class="text-xl text-dark-text">Domingo:</strong>
                    <span class="text-base md:text-xl font-montserrat">CERRADO</span>
                </div>
            </div>
        </div>

        <MapGoogle />
        
    </div>

    
</section>