<section class="w-full max-w-screen-container h-full mx-auto py-16">
    <div class="w-full p-5 bg-dark-bold rounded-2xl">
        <div class="w-full flex gap-5">
            <div class="w-7/12 pl-5 py-5">
                <h4 class="text-4xl text-green-light-2 font-bold mb-4">¿Listo para agendar tu cita?</h4>
                <p class="text-xl text-green-light-2">"Tu salud dental no puede esperar. Ya sea para una consulta de rutina o un tratamiento especializado, estamos aquí para ayudarte. Programar una cita con nosotros es fácil y rápido."</p>
            </div>
            <div class="flex justify-center items-center flex-grow">
                <button class="text-dark-text text-2xl font-medium px-7 py-3 rounded-3xl bg-green-light ">
                    Agendar
                </button>
            </div>
        </div>
    </div>
</section>