
<section id="nuestros-servicios"  data-index="2" class="w-full max-w-screen-container h-full mx-auto pt-16">
    <div class="w-full h-full flex flex-col gap-[10px]">
        <div class="flex gap-[10px] w-full h-full">
            <div class="w-1/2 flex flex-col gap-[10px]">
                <div class="px-5 py-11">
                    <h2 class="text-5xl font-bold text-dark-text w-7/12">NUESTROS SERVICIOS</h2>
                </div>
                <div class="card-left p-5 bg-green-light rounded-2xl h-52">
                    <div class="w-full h-full flex flex-col justify-between">
                        <h3 class="text-dark-text text-4xl font-semibold w-1/2">Extracciones dentales</h3>
                        <p class="text-xl font-medium">Extracción de dientes dañados o muelas del juicio.</p>
                    </div>
                </div>
                <div class="card-left p-5 bg-green-light rounded-2xl h-52">
                    <div class="w-full h-full flex flex-col justify-between">
                        <h3 class="text-dark-text text-4xl font-semibold">Tratamientos de conducto (endodoncia)</h3>
                        <p class="text-xl font-medium">Eliminación del tejido infectado dentro del diente para salvarlo.</p>
                    </div>
                </div>
            </div>
            <div class="w-1/2 flex flex-col flex-grow gap-[10px]">
                <div class="card-right p-5 bg-green-light rounded-2xl h-1/2 relative">
                    <div class="w-full h-full p-5 flex flex-col justify-between absolute top-0 left-0 z-10">
                        <h3 class="text-dark-text text-4xl font-semibold w-8/12">Limpieza dental profesional</h3>
                        <ul class="flex flex-col gap-2">
                            <li class="px-3 py-1 rounded-2xl bg-white w-fit">Higiene dental</li>
                            <li class="px-3 py-1 rounded-2xl bg-white w-fit">Profilaxis</li>
                        </ul>
                    </div>
                    <img class="w-full h-full absolute top-0 left-0 opacity-30" src="/assets/img/cleanTeeth.png" alt="Limpieza dental profesional">
                </div>
                <div class="card-right bg-green-light rounded-2xl h-1/2 relative">
                    <div class="w-full h-full p-5 flex flex-col justify-between absolute top-0 left-0 z-10">
                        <h3 class="text-dark-text text-4xl font-semibold w-8/12">Tratamiento de caries</h3>
                        <ul class="flex flex-col gap-2">
                            <li class="px-3 py-1 rounded-2xl bg-white w-fit">Obturaciones (empastes)</li>
                            <li class="px-3 py-1 rounded-2xl bg-white w-fit">Selladores dentales</li>
                        </ul>
                    </div>
                    <img class="w-full h-full absolute top-0 left-0 opacity-30" src="/assets/img/cleanCaries.png" alt="Tratamiento de caries">
                </div>
            </div>
        </div>
        <div class="w-full flex gap-[10px]">
            <div class="w-1/2 flex flex-col gap-[10px]">
                <div class="card-left p-5 bg-green-light rounded-2xl relative h-60">
                    <div class="w-full h-full p-5 flex flex-col justify-between absolute top-0 left-0 z-10">
                        <h3 class="text-dark-text text-4xl font-semibold w-8/12">Ortodoncia</h3>
                        <p class="text-xl font-medium">Colocación de brackets o alineadores invisibles para corregir la posición de los dientes.</p>
                    </div>
                    <img class="w-full h-full absolute top-0 left-0 opacity-30" src="/assets/img/brackets.png" alt="Ortodoncia">
                </div>
                <div class="card-left p-5 bg-green-light rounded-2xl relative h-60">
                    <div class="w-full h-full p-5 flex flex-col justify-between absolute top-0 left-0 z-10">
                        <h3 class="text-dark-text text-4xl font-semibold w-8/12">Tratamientos estéticos</h3>
                        <p class="text-xl font-medium">Rejuvenecimiento de encías, corrección de sonrisas gingivales.</p>
                    </div>
                    <img class="w-full h-full absolute top-0 left-0 opacity-30" src="/assets/img/staticTeeth.png" alt="Tratamientos estéticos">
                </div>
                <div class="card-left p-5 bg-green-light rounded-2xl h-44">
                    <div class="w-full h-full flex flex-col justify-between">
                        <h3 class="text-dark-text text-4xl font-semibold">Carillas dentales (veneers)</h3>
                        <p class="text-xl font-medium">Colocación de láminas de porcelana o resina en la parte frontal de los dientes para mejorar su apariencia.</p>
                    </div>
                </div>
            </div>
            <div class="w-1/2 flex flex-col gap-[10px] items-stretch">
                <div class="px-5 py-11">
                    <h2 class="text-5xl font-bold text-dark-text w-7/12">Especializados</h2>
                </div>
                <div class="card-right p-5 bg-green-light rounded-2xl min-h-56">
                    <div class="w-full h-full flex flex-col justify-between">
                        <h3 class="text-dark-text text-4xl font-semibold w-8/12">Blanqueamiento dental</h3>
                        <p class="text-xl font-medium">Tratamientos para mejorar la estética de los dientes con productos de blanqueamiento profesional.</p>
                    </div>
                </div>
                <div class="card-right p-5 bg-green-light rounded-2xl h-full relative">
                    <div class="w-full h-full flex flex-col justify-between">
                        <h3 class="text-dark-text text-4xl font-semibold w-8/12">Otros servicios</h3>
                        <ul class="flex flex-col gap-2">
                            <li class="px-3 py-1 rounded-2xl bg-white w-fit">Implantes dentales</li>
                            <li class="px-3 py-1 rounded-2xl bg-white w-fit">Odontopediatría</li>
                            <li class="px-3 py-1 rounded-2xl bg-white w-fit">Cirugía bucal</li>
                            <li class="px-3 py-1 rounded-2xl bg-white w-fit">Prostodoncia</li>
                        </ul>
                    </div>
                    <img class="absolute bottom-3 right-4" src="/assets/icons/more.svg" alt="more services">
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    import gsap from "gsap";

    // const lavalamp = document.querySelector(".lavalamp");
    // Animar la card cuando se entra en vista
    gsap.fromTo(".card-left", 
      {
        opacity: 0, 
        x: -200 // Comienza a la izquierda
      }, 
      {
        opacity: 1,
        x: 0, // Se mueve a su posición original
        duration: 1,
        stagger: 0.2,
        scrollTrigger: {
          trigger: ".card-left", // El elemento que activa el scroll
          start: "top 70%", // Comienza la animación cuando el top de la card está al 80% de la ventana
          toggleActions: "play none none reverse", // Qué hacer al entrar/salir de la vista
        }
      }
    );

    gsap.fromTo(".card-right", 
      {
        opacity: 0, 
        x: 200 // Comienza a la izquierda
      }, 
      {
        opacity: 1,
        x: 0, // Se mueve a su posición original
        duration: 1,
        stagger: 0.25,
        scrollTrigger: {
          trigger: ".card-right", // El elemento que activa el scroll
          start: "top 70%", // Comienza la animación cuando el top de la card está al 80% de la ventana
          toggleActions: "play none none reverse", // Qué hacer al entrar/salir de la vista
        }
      }
    );
</script>