---


---

<div class="w-full h-[480px] rounded-2xl overflow-hidden relative">
    <!-- <img class="" src="/assets/img/map-fake.png" alt="map fake"> -->
    <div id="map" class="w-full h-full object-cover ">

    </div>

    

    <div class="absolute top-12 left-0 p-2">
        <div class="bg-white rounded-lg w-fit px-3 py-2 shadow">
            <span class="text-3xl text-dark-text font-bold">Direcciones</span>
        </div>
    </div>
    <div class="absolute bottom-5 left-0 p-2">
        <div class="flex gap-2">
            <button id="my-location" class="px-4 py-2 text-xl bg-dark-bold text-white rounded-2xl" >Mi ubicacion</button>
            <button id="arrive-location" class="hidden px-4 py-2 text-xl bg-gray-500 text-white rounded-2xl" >Llegar</button>
        </div>
    </div>
    <!-- <div class="absolute top-0 right-0 p-5">
        <div class="flex flex-col bg-white rounded-lg max-w-56 px-3 py-2 shadow">
            <span class="text-3xl text-dark-text font-bold">Direccion 1</span>
            <span>
                Jesús Salido y Tamaulipas #2111
                Col. Juárez, 85870
                Navojoa, Son.
            </span>
            <span></span>
            <span>
                cel:
                441234123123
            </span>
        </div>
    </div> -->
</div>

<script>
import { Loader } from "@googlemaps/js-api-loader"

const locationButton = document.getElementById("my-location");
const arriveButton = document.getElementById("arrive-location");



const loader = new Loader({
  apiKey: import.meta.env.PUBLIC_API_KEY_GOOGLE_MAP,
  version: "weekly",
  libraries: ["places"]
});

const positionMarker = {
        lat: 27.072757,
        lng: -109.443749
    }

const mapOptions = {
  center: positionMarker,
  zoom: 14,
  mapId: 'DENTIST_MAP_ID',
};


let pos;


const initMap = async () => {

    try {

        const { Map } = await loader.importLibrary('maps')
        const map = new Map(document.getElementById("map"), mapOptions);
        
        //@ts-ignore    
        let infoWindow = new google.maps.InfoWindow();

        const { AdvancedMarkerElement } = await loader.importLibrary('marker')
        // The marker, positioned at Uluru
        const marker = new AdvancedMarkerElement({
            map: map,
            position: positionMarker,
            title: 'Direccion 1'
        });

        infoWindow.setContent('<h1><strong>Direccion</strong></h1><span>Jesús Salido y Tamaulipas #2111, Col. Juárez, 85870, Navojoa, Sonora.</span><h2><strong>Telefono</strong></h2><span>441234123123</span>');
        infoWindow.open(map, marker);

        locationButton!.addEventListener("click", () => {
            // Try HTML5 geolocation.
            if (navigator.geolocation) {

            arriveButton!.style.display = "flex"

            navigator.geolocation.getCurrentPosition(
                (position: GeolocationPosition) => {
                pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude,
                };

                const myLocationMarker = new AdvancedMarkerElement({
                    map: map,
                    position: pos,
                    title: 'Mi ubicacion'
                });
                
                infoWindow.setPosition(pos);
                map.setCenter(pos);
                },
                showError
            );
            } else {
            // Browser doesn't support Geolocation
            //   handleLocationError(false, infoWindow, map.getCenter()!);
            }
        });

        arriveButton!.addEventListener("click", () => {
            // Inicializa los servicios de direcciones
            //@ts-ignore 
            const directionsService = new google.maps.DirectionsService();
            //@ts-ignore 
            const directionsRenderer = new google.maps.DirectionsRenderer();
            directionsRenderer.setMap(map);

            // Establece una ubicación de origen y destino
            const start = positionMarker; // O puedes usar lat/lng { lat: 40.7128, lng: -74.0060 }
            const end = pos!; // O puedes usar lat/lng { lat: 38.9072, lng: -77.0369 }

            // Llama a la función para calcular la ruta
            calculateAndDisplayRoute(directionsService, directionsRenderer, start, end);
        })
        
        
        console.log(map, marker);
        
    } catch (error) {
        console.log(error);
        
    }

}

function calculateAndDisplayRoute(directionsService:any, directionsRenderer:any, start:any, end:any) {
directionsService.route(
    {
    origin: start,   // Punto de partida
    destination: end, // Destino
    //@ts-ignore 
    travelMode: google.maps.TravelMode.DRIVING, // Modo de viaje (DRIVING, WALKING, BICYCLING, TRANSIT)
    },
    (response: any, status: any) => {
    if (status === "OK") {
        directionsRenderer.setDirections(response); // Muestra la ruta en el mapa
    } else {
        window.alert("Fallo en la solicitud de direcciones: " + status);
    }
    }
);
}



function showError(error: any) {
  switch (error.code) {
    case error.PERMISSION_DENIED:
      console.log("El usuario denegó el permiso para la geolocalización.");
      break;
    case error.POSITION_UNAVAILABLE:
      console.log("La información de la ubicación no está disponible.");
      break;
    case error.TIMEOUT:
      console.log("El tiempo de espera para obtener la ubicación se ha agotado.");
      break;
    case error.UNKNOWN_ERROR:
      console.log("Ha ocurrido un error desconocido.");
      break;
  }
}


initMap();



</script>